In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Agent Performance Report.csv')

In [54]:
df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,service_date,service_date_year,service_date_week,%age,service_date_month,AvgRespTime,AvgResolutionTm
0,1,30-07-2022,Prerna Singh,11,00:00:38,00:04:20,4.11,9,2022-07-30,2022,30,81.818182,7,0 days 00:00:38,0 days 00:04:20
1,2,30-07-2022,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,2022-07-30,2022,30,63.636364,7,0 days 00:01:15,0 days 00:28:25
2,3,30-07-2022,Ameya Jain,14,00:00:30,00:11:36,4.55,11,2022-07-30,2022,30,78.571429,7,0 days 00:00:30,0 days 00:11:36
3,4,30-07-2022,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,2022-07-30,2022,30,50.000000,7,0 days 00:01:04,0 days 00:15:46
4,5,30-07-2022,Swati,14,00:01:11,00:16:33,3.67,6,2022-07-30,2022,30,42.857143,7,0 days 00:01:11,0 days 00:16:33

In [5]:
df.dtypes

SL No                        int64
Date                        object
Agent Name                  object
Total Chats                  int64
Average Response Time       object
Average Resolution Time     object
Average Rating             float64
Total Feedback               int64
dtype: object

In [ ]:
#1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave

In [6]:
df['service_date'] = pd.to_datetime(df['Date'])

In [7]:
df['service_date_year'] = df['service_date'].dt.year

In [22]:
df['service_date_month'] = df['service_date'].dt.month

In [8]:
df['service_date_week'] = df['service_date'].dt.weekofyear

C:\Users\SSIM\AppData\Local\Temp/ipykernel_17368/553774779.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['service_date_week'] = df['service_date'].dt.weekofyear

In [9]:
df.groupby('service_date_week')['Average Rating'].mean()

service_date_week
1     1.076667
6     0.975972
10    0.943472
14    0.975278
18    1.317917
23    1.333611
27    1.542083
28    1.534389
29    1.511389
30    1.617847
31    1.749861
36    1.583056
40    1.204722
45    1.723194
49    1.444306
Name: Average Rating, dtype: float64

In [10]:
# 2 .Total working days for each agents 
df.groupby('Agent Name')['Date'].count()

Agent Name
Abhishek         30
Aditya           30
Aditya Shinde    30
Aditya_iot       30
Amersh           30
                 ..
Uday Mishra      30
Vasanth P        30
Vivek            30
Wasim            30
Zeeshan          30
Name: Date, Length: 70, dtype: int64

In [11]:
#3. Total query that you hvae taken 
df.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int64

In [12]:
#4. total Feedback that you have received
df.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

In [13]:
#5. a agent name who have average rating between 3.5 to 4
df[(df['Average Rating'] > 3.5) & (df['Average Rating'] < 4.5)]['Agent Name']

0              Prerna Singh
4                    Swati
8            Shubham Sharma
9              Nishtha Jain
10             Manjunatha A
               ...
2091           Jayant Kumar
2092    Boktiar Ahmed Bappy
2093            Rishav Dash
2097          Sanjeev Kumar
2099           Prerna Singh
Name: Agent Name, Length: 358, dtype: object

In [14]:
df[(df['Average Rating'] > 3.5) & (df['Average Rating'] < 4.5)]['Agent Name'].count()

358

In [15]:
#6 . Agent name who have rating less than 3.5
df[(df['Average Rating'] > 0.0) & (df['Average Rating'] < 3.5)]['Agent Name']

1             Nandani Gupta
71           Jawala Prakash
92        Sowmiya Sivakumar
145        Shiva Srivastava
148             Aditya_iot
159            Nishtha Jain
221             Aditya_iot
231               Ankitjha
298      Chaitra K Hiremath
306                Mithun S
358          Jawala Prakash
644          Ishawant Kumar
716     Boktiar Ahmed Bappy
720          Jawala Prakash
788           Ayushi Mishra
1228                 Vivek
1241          Mahesh Sarade
1298            Aditya_iot
1299                 Vivek
1369                 Vivek
1444     Harikrishnan Shaji
1452               Anirudh
1525          Mahesh Sarade
1588                 Vivek
1590          Mahesh Sarade
1593            Mukesh Rao
1650           Jayant Kumar
1656          Sanjeev Kumar
1664          Anurag Tiwari
1665     Harikrishnan Shaji
1666               Mithun S
1667            Mukesh Rao
1798            Ashad Nasim
1800               Anirudh
1801               Maneesh
1808           Jayant Kumar
1812                 Mahak
1816               Mithun S
1817     Shivananda Sonwane
1821           Prerna Singh
1951               Shivan K
1953           Jayant Kumar
2020          Nandani Gupta
2090         Saurabh Shukla
2105                 Tarun
Name: Agent Name, dtype: object

In [16]:
#6 . Agent name who have rating lesss then 3.5
df[(df['Average Rating'] > 0.0) & (df['Average Rating'] < 3.5)]['Agent Name'].count()

45

In [17]:
#7 . agent name who have rating more then 4.5 
df[df['Average Rating'] > 4.5]['Agent Name']

2               Ameya Jain
3            Mahesh Sarade
5                  Mukesh
6          Saikumarreddy N
7            Sanjeev Kumar
               ...
2100        Shubham Sharma
2101         Jaydeep Dixit
2102    Shivananda Sonwane
2103        Khushboo Priya
2104       Hrisikesh Neogi
Name: Agent Name, Length: 307, dtype: object

In [18]:
#8 . how many feedaback agents have received more then 4.5 average
df[(df['Average Rating'] > 4.5) & (df['Total Feedback'] > 0)]['Agent Name']

2               Ameya Jain
3            Mahesh Sarade
5                  Mukesh
6          Saikumarreddy N
7            Sanjeev Kumar
               ...
2100        Shubham Sharma
2101         Jaydeep Dixit
2102    Shivananda Sonwane
2103        Khushboo Priya
2104       Hrisikesh Neogi
Name: Agent Name, Length: 307, dtype: object

In [31]:
#9 . average weekly response time for each agent
df['AvgRespTime'] = pd.to_timedelta(df['Average Response Time'])
df.groupby('service_date_week')['AvgRespTime'].mean()

service_date_week
1    0 days 00:00:20.944444444
6    0 days 00:00:17.847222222
10   0 days 00:00:17.013888888
14   0 days 00:00:16.888888888
18   0 days 00:00:26.319444444
23   0 days 00:00:45.513888888
27   0 days 00:00:23.638888888
28   0 days 00:00:25.372222222
29   0 days 00:00:24.634920634
30   0 days 00:00:25.298611111
31             0 days 00:00:26
36   0 days 00:00:23.097222222
40   0 days 00:00:17.666666666
45   0 days 00:00:21.972222222
49   0 days 00:00:26.569444444
Name: AvgRespTime, dtype: timedelta64[ns]

In [53]:
#10 . average weekely resolution time for each agents
df['AvgResolutionTm'] = pd.to_timedelta(df['Average Resolution Time'])
df.groupby('service_date_week')['AvgResolutionTm'].mean()

service_date_week
1    0 days 00:07:05.194444444
6    0 days 00:03:41.666666666
10   0 days 00:04:06.680555555
14   0 days 00:05:02.513888888
18      0 days 00:05:42.750000
23      0 days 00:09:36.625000
27   0 days 00:07:15.041666666
28   0 days 00:06:58.216666666
29   0 days 00:06:25.388888888
30   0 days 00:07:08.106481481
31   0 days 00:09:38.736111111
36      0 days 00:06:33.250000
40   0 days 00:05:11.041666666
45      0 days 00:06:44.500000
49   0 days 00:06:53.611111111
Name: AvgResolutionTm, dtype: timedelta64[ns]

In [20]:
#11 . list of all agents name
df['Agent Name'].unique()

array(['Prerna Singh', 'Nandani Gupta', 'Ameya Jain', 'Mahesh Sarade',
       'Swati ', 'Mukesh ', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Shubham Sharma', 'Nishtha Jain', 'Manjunatha A', 'Khushboo Priya',
       'Suraj S Bilgi', 'Harikrishnan Shaji', 'Hrisikesh Neogi',
       'Shivan K', 'Sowmiya Sivakumar', 'Madhulika G', 'Mithun S',
       'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ', 'Shiva Srivastava',
       'Dibyanshu ', 'Ashish ', 'Uday Mishra', 'Aditya Shinde',
       'Jayant Kumar', 'Aditya_iot ', 'Prabir Kumar Satapathy',
       'Saurabh Shukla', 'Wasim ', 'Samprit ', 'Maitry ', 'Abhishek ',
       'Rishav Dash', 'Aravind ', 'Tarun ', 'Muskan Garg', 'Ankit Sharma',
       'Bharath ', 'Ashad Nasim', 'Vasanth P', 'Aditya ', 'Amersh ',
       'Sandipan Saha', 'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ',
       'Zeeshan ', 'Anurag Tiwari', 'Ankitjha ', 'Saif Khan',
       'Jaydeep Dixit', 'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas',
       'Rohan ', 'Vivek ', 'Nitin M', 'Shivan_S ', 'Spuri ',
       'Ayushi Mishra', 'Chaitra K Hiremath', 'Prateek _iot ',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Jawala Prakash'], dtype=object)

In [19]:
#12 . percentage of chat on which they have received a feedback
df['%age'] = 100 * df['Total Feedback'] / df['Total Chats']

In [20]:
df_percentage = df[df['%age'] > 0.0]
df_percentage[['Agent Name', '%age']]

              Agent Name       %age
0           Prerna Singh  81.818182
1          Nandani Gupta  63.636364
2             Ameya Jain  78.571429
3          Mahesh Sarade  50.000000
4                 Swati   42.857143
...                  ...        ...
2101       Jaydeep Dixit  52.000000
2102  Shivananda Sonwane  60.869565
2103      Khushboo Priya  75.000000
2104     Hrisikesh Neogi  60.000000
2105              Tarun   27.272727

[731 rows x 2 columns]

In [44]:
#13 . Total contributation hour for each and every agents weekly basis

In [ ]:
#14. total percentage of active hour for a month

In [46]:
art_monthwise = df.groupby(['service_date_month']).agg({'AvgRespTime': 'sum'})
art_monthwise

                       AvgRespTime
service_date_month
1                  0 days 00:25:08
2                  0 days 00:21:25
3                  0 days 00:20:25
4                  0 days 00:20:16
5                  0 days 00:31:35
6                  0 days 00:54:37
7                  0 days 09:29:41
8                  0 days 00:31:12
9                  0 days 00:27:43
10                 0 days 00:21:12
11                 0 days 00:26:22
12                 0 days 00:31:53

In [50]:
art_percent = art_monthwise.groupby(level=0).apply(lambda x: 100 * x / df['AvgRespTime'].sum())
art_percent

                    AvgRespTime
service_date_month
1                      2.851255
2                      2.429617
3                      2.316172
4                      2.299155
5                      3.582976
6                      6.195995
7                     64.627805
8                      3.539488
9                      3.144321
10                     2.405037
11                     2.991170
12                     3.617009